@page
@model REstate.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-3 mb-3">
    <div id="carouselExampleControls" class="carousel slide" touch="true" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active carousel-img" style="background-image:url('@Model.Property.MainThumbnail');background-position:center;background-size:cover;width:100%">
            </div>
            @foreach (var image in Model.Property.PropertyImages)
            {
                <div class="carousel-item carousel-img" style="background-image:url('@image.ImageFile');background-position:center;background-size:cover;width:100%">
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="mt-5 mb-3">
        <div class="row">
            <div class="col-md-8">
                @if (Model.Property.vendu)
                {
                    <p class="bg-danger p-2 rounded">Vendu !</p>
                }
                <span class="rounded font-weight-bold bg-warning text-light px-2 py-1">@Model.Property.SaleType - @Model.Property.propertyType</span>
                <h2 class="font-weight-bold mt-2 mb-0">@Model.Property.Title</h2>
                <p>@Model.Property.Adresse</p>
                <p class="mb-0"><i class="fas fa-ruler"></i> Superficie : @Model.Property.Surface M&sup2;</p>
                <p><i class="fas fa-bed"></i> Chambres : @Model.Property.Bedrooms - | - <i class="fas fa-bath"></i> Douches : @Model.Property.Bathrooms - | - <i class="fas fa-toilet"></i> Toilets : @Model.Property.WashRooms</p>
            </div>
            <div class="col-md-4 rounded" style="display: flex; flex-direction: column; justify-content: center;">
                <div class="w-100" style="align-self:center">
                    <h4 class="font-weight-bold text-center text-dark border-warning p-2" style="border:solid 4px;border-radius:1em;">@Model.Property.Price @Model.Property.PriceAmmount / @Model.Property.PaymentDuration</h4>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <h4 class="font-weight-bold">Description</h4>
            <div>
                @Html.Raw(Model.Property.Description)
            </div>
        </div>
        <div class="p-2 mt-5 mb-5 shadow rounded-lg">
            <h4 class="font-weight-bold text-center mt-3">Equipements</h4>
            <div class="row text-dark font-weight-light">
                @if (Model.Property.Furniture)
                {
                    <div class="col-md-3 col-6 text-center py-4">
                        <i class="far fa-couch fa-3x"></i>
                        <p>Meublé</p>
                    </div>
                }
                @if (Model.Property.Jardain)
                {
                    <div class="col-md-3 col-6 text-center py-4">
                        <i class="far fa-seedling fa-3x"></i>
                        <p>Jardain</p>
                    </div>
                }
                @if (Model.Property.TransportProche)
                {
                    <div class="col-md-3 col-6 text-center py-4">
                        <i class="far fa-bus fa-3x"></i>
                        <p>Proche De Transport</p>
                    </div>
                }
                @if (Model.Property.Parking)
                {
                    <div class="col-md-3 col-6 text-center py-4">
                        <i class="far fa-car fa-3x"></i>
                        <p>Parking</p>
                    </div>
                }
                @if (Model.Property.Climatisation)
                {
                    <div class="col-md-3 col-6 text-center py-4">
                        <i class="far fa-air-conditioner fa-3x"></i>
                        <p>Climatisation</p>
                    </div>
                }
                @if (Model.Property.ConnectionInternet)
                {
                    <div class="col-md-3 col-6 text-center py-4">
                        <i class="far fa-router fa-3x"></i>
                        <p>Connection Internet</p>
                    </div>
                }
                @if (Model.Property.Security)
                {
                    <div class="col-md-3 col-6 text-center py-4">
                        <i class="far fa-cctv fa-3x"></i>
                        <p>Camera De Securite</p>
                    </div>
                }
                @if (Model.Property.Garage)
                {
                    <div class="col-md-3 col-6 text-center py-4">
                        <i class="far fa-garage-car fa-3x"></i>
                        <p>Garage</p>
                    </div>
                }
                @if (Model.Property.Ascenceur)
                {
                    <div class="col-md-3 col-6 text-center py-4">
                        <i class="far fa-building fa-3x"></i>
                        <p>Ascenceur</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-secondary" asp-page="/List">Retoruner A La Liste</a>
    </div>
</div>