@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Hero Section -->
<style>
    .glassback {
        background: rgba( 255, 255, 255, 0.80 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 10px;
    }
</style>
<div class="mb-5" style="background-image:url('images/homeimage.jpg')">
    <div class="container text-center" style="display:flex; height:80vh;">
        <div class="p-4 glassback w-100 mx-auto" style="align-self:center">
            <h3 class="mb-3 font-weight-bold">Trouvez le meilleur choix pour vous</h3>
            <form method="post">
                <div class="form-row">
                    <div class="col-md-3">
                        @Html.DropDownList("stype",Html.GetEnumSelectList<REstate.Models.SaleType>(), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3 mt-md-0 mt-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-home"></i></div>
                            </div>
                            @Html.DropDownList("ptype", Html.GetEnumSelectList<REstate.Models.PropertyType>(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3 mt-md-0 mt-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-bed"></i></div>
                            </div>
                            <input asp-for="Bedrooms" type="number" min="0" class="form-control" placeholder="NbChambre">
                        </div>
                    </div>
                    <div class="col-md-3 mt-md-0 mt-2">
                        <input class="btn btn-outline-primary w-100" type="submit" value="Recherche" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="container py-3 mt-5 mb-5">
    <h3>Dernière publication</h3>
    <div class="row">
        @foreach(var item in Model.Properties)
        {
            <div class="col-lg-4 col-md-6">
                <a asp-page="./Details" asp-route-id="@item.ID" class="m-2" style="text-decoration:none">
                    <div class="shadow">
                        <div class="bg-dark" style="background-image:url('@item.MainThumbnail');background-position:center;height:14em;background-size:cover;width:100%">
                            <div class="h-100 w-100 px-3 py-2" style="display:flex;flex-direction:column;">
                                <div class="mb-auto"><span class="badge badge-success p-2">@item.SaleType - @item.PaymentDuration</span></div>
                                <div><span class="badge badge-info p-2">@item.Price @item.PriceAmmount / @item.PaymentDuration</span></div>
                            </div>
                        </div>
                        <div class="rounded-bottom text-dark px-3 py-2">
                            @item.Adresse
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>