@page
@model REstate.Pages.ListModel

@{
    ViewData["Title"] = "List";
}

<div class="container">
    <div class="row justify-content-between m-0">
        @foreach (var item in Model.Property)
        {
            <div class="col-md-6 p-1">
                <a href="#" class="m-2 mx-3" style="text-decoration:none">
                    <div class="shadow row m-1">
                        <div class="bg-dark col-lg-6 p-0" style="background-image:url('@item.MainThumbnail');background-position:center;height:17em;background-size:cover;width:100%">
                            <div class="h-100 w-100 p-2" style="display:flex;flex-direction:column;">
                                <div class="mb-auto"><span class="rounded-0 badge badge-success p-2">@item.SaleType - @item.propertyType</span></div>
                                <div><span class="rounded-0 badge badge-info p-2">@item.Price @item.PriceAmmount / @item.PaymentDuration</span></div>
                            </div>
                        </div>
                        <div class="col-lg-6 text-dark px-2 py-2" style="background:rgba(256,256, 256, 0.67);">
                            <h5 class="font-weight-bold">@item.Title</h5>
                            <small>@item.Adresse</small>
                            <hr class="my-2" />
                            <div class="row m-0">
                                <div class="col p-2">
                                    <p><i class="fas fa-bed"></i> @item.Bedrooms</p>
                                </div>
                                <div class="col p-2">
                                    <p><i class="fas fa-bath"></i> @item.Bathrooms</p>
                                </div>
                                <div class="col p-2">
                                    <p><i class="fas fa-ruler"></i> @item.Surface m&sup2;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<div class="mt-4 pt-2 pb-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.PageNum != 0)
            {
                <li class="page-item"><a class="page-link" asp-page="/Products" asp-route-Currentpage="@(Model.PageNum-1)">Previous</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            }
            <li class="page-item"><a class="page-link">@Model.PageNum</a></li>
            @if (Model.Property.Count == Model.EPP)
            {
                <li class="page-item"><a class="page-link" asp-page="/Products" asp-route-Currentpage="@(Model.PageNum+1)">Next</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link">Next</a></li>
            }
        </ul>
    </nav>
</div>