@page
@model REstate.Pages.Admin.CreateModel

@{
    ViewData["Title"] = "Creation D'un Annonce";
}

<div class="container">
    <h1>Creation D'un Annonce</h1>
    <div class="px-2 py-3">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-9 form-group">
                    <label asp-for="Property.Title" class="control-label"></label>
                    <input asp-for="Property.Title" class="form-control" />
                    <span asp-validation-for="Property.Title" class="text-danger"></span>
                </div>
                <div class="col-lg-3 form-group">
                    <label asp-for="Property.SaleType" class="control-label"></label>
                    <select asp-for="Property.SaleType" asp-items="@Html.GetEnumSelectList<REstate.Models.SaleType>()" class="form-control"></select>
                    <span asp-validation-for="Property.SaleType" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label asp-for="Property.propertyType" class="control-label"></label>
                    <select asp-for="Property.propertyType" asp-items="@Html.GetEnumSelectList<REstate.Models.PropertyType>()" class="form-control"></select>
                    <span asp-validation-for="Property.propertyType" class="text-danger"></span>
                </div>
                <div class="col-lg-4 form-group">
                    <label asp-for="Property.Surface" class="control-label"></label>
                    <input asp-for="Property.Surface" min="0" class="form-control" />
                    <span asp-validation-for="Property.Surface" class="text-danger"></span>
                </div>
                <div class="col-lg-4 form-group">
                    <label asp-for="Property.Etages" class="control-label"></label>
                    <input asp-for="Property.Etages" min="0" class="form-control" />
                    <span asp-validation-for="Property.Etages" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label asp-for="Property.Price" class="control-label"></label>
                    <input asp-for="Property.Price" min="0" class="form-control" />
                    <span asp-validation-for="Property.Price" class="text-danger"></span>
                </div>
                <div class="col-lg-4 form-group">
                    <label asp-for="Property.PriceAmmount" class="control-label"></label>
                    <select asp-for="Property.PriceAmmount" asp-items="@Html.GetEnumSelectList<REstate.Models.PriceAmmount>()" class="form-control"></select>
                    <span asp-validation-for="Property.PriceAmmount" class="text-danger"></span>
                </div>
                <div class="col-lg-4 form-group">
                    <label asp-for="Property.PaymentDuration" class="control-label"></label>
                    <select asp-for="Property.PaymentDuration" asp-items="@Html.GetEnumSelectList<REstate.Models.PaymentDuration>()" class="form-control"></select>
                    <span asp-validation-for="Property.PaymentDuration" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label asp-for="Property.Bedrooms" class="control-label"><i class="fas fa-bed"></i></label>
                    <input asp-for="Property.Bedrooms" min="0" class="form-control" />
                    <span asp-validation-for="Property.Bedrooms" class="text-danger"></span>
                </div>
                <div class="col-lg-4 form-group">
                    <label asp-for="Property.Bathrooms" class="control-label"><i class="fas fa-bath"></i></label>
                    <input asp-for="Property.Bathrooms" min="0" class="form-control" />
                    <span asp-validation-for="Property.Bathrooms" class="text-danger"></span>
                </div>
                <div class="col-lg-4 form-group">
                    <label asp-for="Property.WashRooms" class="control-label"><i class="fas fa-toilet"></i></label>
                    <input asp-for="Property.WashRooms" min="0" class="form-control" />
                    <span asp-validation-for="Property.WashRooms" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Property.Adresse" class="control-label"></label>
                <input asp-for="Property.Adresse" class="form-control" />
                <span asp-validation-for="Property.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.Description" class="control-label"></label>
                <textarea asp-for="Property.Description" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Property.Description" class="text-danger"></span>
            </div>
            <div class="row px-3">
                <div class="col-lg-2 form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Property.Furniture" /><i class="fas fa-couch fa-2x"></i>
                    </label>
                </div>
                <div class="col-lg-2 form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Property.Jardain" /><i class="far fa-seedling fa-2x"></i> Jardain
                    </label>
                </div>
                <div class="col-lg-2 form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Property.TransportProche" /><i class="far fa-bus fa-2x"></i> Proche De Transport
                    </label>
                </div>
                <div class="col-lg-2 form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Property.Parking" /><i class="fas fa-car fa-2x"></i> Parking
                    </label>
                </div>
                <div class="col-lg-2 form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Property.Climatisation" /><i class="far fa-2x fa-air-conditioner"></i>
                    </label>
                </div>
                <div class="col-lg-2 form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Property.ConnectionInternet" /><i class="fas fa-wifi fa-2x"></i>
                    </label>
                </div>
                <div class="col-lg-2 form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Property.Security" /><i class="fas fa-cctv fa-2x"></i>
                    </label>
                </div>
                <div class="col-lg-2 form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Property.Garage" /><i class="fas fa-garage-car fa-2x"></i> Garage
                    </label>
                </div>
                <div class="col-lg-2 form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Property.Ascenceur" /> @Html.DisplayNameFor(model => model.Property.Ascenceur)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Property.MainThumbnail" class="control-label"></label>
                <input asp-for="Property.ThumbnailFile" class="form-control" />
                <span asp-validation-for="Property.MainThumbnail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
