@page
@model REstate.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.propertyType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.propertyType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Etages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Etages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.SaleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.SaleType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.DateAdded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.PriceAmmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.PriceAmmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.PaymentDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.PaymentDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Bedrooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Bedrooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Bathrooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Bathrooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.WashRooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.WashRooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Surface)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Surface)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Adresse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Furniture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Furniture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Jardain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Jardain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.TransportProche)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.TransportProche)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Parking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Parking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Climatisation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Climatisation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.ConnectionInternet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.ConnectionInternet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Security)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Security)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Garage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Garage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Ascenceur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Ascenceur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.MainThumbnail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.MainThumbnail)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Property.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
