@page
@model REstate.Pages.Admin.SaleHistoryModel

@{
    ViewData["Title"] = "Histoire Des Ventes";
}
<div class="container">
    <h1>Histoire Des Ventes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Vente[0].Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vente[0].Prenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vente[0].IdenCard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vente[0].Adress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vente[0].NumeroDeTlf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vente[0].DateAchat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vente[0].Property)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Vente)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdenCard)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroDeTlf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAchat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.Adresse)
                    </td>
                    <td>
                        <a asp-page="./SaleDetail" asp-route-id="@item.ID">Details</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="mt-4 pt-2 pb-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (Model.PageNum != 0)
                {
                    <li class="page-item"><a class="page-link" asp-page="/Products" asp-route-Currentpage="@(Model.PageNum-1)">Previous</a></li>
                }
                else
                {
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                }
                <li class="page-item"><a class="page-link">@Model.PageNum</a></li>
                @if (Model.Vente.Count == Model.EPP)
                {
                    <li class="page-item"><a class="page-link" asp-page="/Products" asp-route-Currentpage="@(Model.PageNum+1)">Next</a></li>
                }
                else
                {
                    <li class="page-item disabled"><a class="page-link">Next</a></li>
                }
            </ul>
        </nav>
    </div>
</div>